@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Playwrite+AR:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Playwrite+AR:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Pacifico&family=Playwrite+AR:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #fff;
    color: #000;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dark body {
    background-color: #000;
    color: #fff;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000000;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
    margin: auto;
}

.dark .spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-left-color: #fff;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Light mode scrollbar */
.scrollbar-light::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #d0d1d6; /* gray-400 */
    border-radius: 4px;
}

.scrollbar-light::-webkit-scrollbar-track {
    background-color: #ececec; /* gray-200 */
}

/* Dark mode scrollbar */
.scrollbar-dark::-webkit-scrollbar {
    width: 24px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #0b0bda; /* blue color */
    border-radius: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
    background-color: #4d8dfcbb; /* blue translucent color */
}
